* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {


  .container__box-1 {
    background-color: #eff0f2;
    max-height: 808px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;

    .container__box-1__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 78px;
      margin-bottom: 205px;
      width: 90%;
      background-color: #eff0f2;

      .container__box-1__top__logo {
        font-family: sans-serif;
        font-weight: bold;
        border: 4px solid black;
        padding: 5px 10px;
        height: 20px;
        width: 70px;
        justify-self: start;
      }

      .container__box-1__top__butmenu {
        justify-self: end;
        cursor: pointer;
      }

    }

    .container__box-1__h3 {
      font-family: sans-serif;
      font-size: 45px;
      color: #505050;
      text-align: center;

      span {
        background-color: #71f6eb;
      }
    }

    .container__box-1__button {
      text-decoration: none;
      font-size: 18px;
      font-family: sans-serif;
      color: #000000;
      padding: 10px 15px;
      margin-top: 145px;
      border: 2px solid black;
      background-color: #eff0f2;

    }

    .container__box-1__button:hover {
      background-color: black;
      color: white;
      border: 2px solid #fff;
    }

    .container__box-1__top__glass {
      justify-self: end;
    }

  }

  .container__box-2 {
    min-height: 980px;
    background-color: #f8fafa;


    .container__box-2__h4 {
      font-size: 38px;
      font-weight: 700;
      color: #323333;
      padding-top: 130px;
      margin-bottom: 20px;
      text-align: center;
    }

    .container__box-2__p {
      color: #9b9d9d;
      text-transform: uppercase;
      margin-bottom: 155px;
      text-align: center;

    }

    .container__box-2__articles {
      color: #9b9d9d;
      display: grid;
      grid-template-columns: 400px 490px;
      grid-column-gap: 80px;
      justify-content: center;

      .container__box-2__articles__img {
        background-image: url('../assets/img/box-2img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }

      .container__box-2__articles__2 {

        .container__box-2__articles__h4 {
          text-transform: uppercase;
          margin-bottom: 25px;
        }

        .container__box-2__articles__p {
          margin-bottom: 45px;
        }
      }
    }
  }

  .container__box-3 {
    text-align: center;
    margin-bottom: 125px;



    .container__box-3__h4 {
      font-size: 38px;
      font-weight: 700;
      color: #323333;
      margin-top: 130px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .container__box-3__p {
      color: #9b9d9d;
      text-transform: uppercase;
      margin-bottom: 155px;
    }

  }

  //OUR Services
  .container__box-4 {
    width: 100%;
    background-color: #f9fbfb;


    .container__box-4__h4 {
      font-size: 38px;
      font-weight: 700;
      color: #323333;
      padding-top: 130px;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
    }

    .container__box-4__p {
      color: #9b9d9d;
      text-transform: uppercase;
      margin-bottom: 155px;
      text-align: center;
    }


    .container__box-4__cards {

      background-color: #f9fbfb;
      display: grid;
      grid-template-columns: 300px 290px 300px;
      grid-template-rows: repeat(3, minmax(375px, 450px));
      grid-gap: 10px;
      justify-content: center;
      padding-bottom: 50px;



      h5 {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
        margin: 185px 100px 30px 58px;
        text-transform: uppercase;
      }

      p {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 200;
        color: white;
        margin-left: 58px;

      }

      .More {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
        margin-left: 58px;
        margin-top: 30px;
      }

      .box-1 {
        background-image: url('../assets/img/box_4-4.png');
        grid-column: 1 / 3;

      }

      .box-2 {
        background-image: url('../assets/img/box_4-2.png');

      }

      .box-3 {
        background-image: url('../assets/img/box_4-3.png');
        grid-column: 1 / 3;

      }

      .box-4 {
        background-image: url('../assets/img/box_4-4.png');
      }

      .box-5 {

        background-image: url('../assets/img/box_4-5.png');

      }

      .box-6 {
        background-image: url('../assets/img/box_4-6.png');
        grid-column: 2 / 4;

      }

      .box-1:hover,
      .box-2:hover,
      .box-3:hover,
      .box-4:hover,
      .box-5:hover,
      .box-6:hover {
        cursor: pointer;
        background-image: url('../assets/img/box_4-1.png');
        background-position: cover;
      }
    }
  }

  // SMALL TEAM
  .container__box-5 {
    text-align: center;
    max-width: 1145px;
    margin: 0 auto;
    background-color: #fff;


    .container__box-5__h4 {
      font-size: 38px;
      font-weight: 700;
      color: #323333;
      margin-top: 130px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .container__box-5__p {
      color: #9b9d9d;
      text-transform: uppercase;
      margin-bottom: 155px;
    }

    .container__box-5__cards {

      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-template-rows: repeat(2, 440px);
      grid-gap: 10px;
      justify-items: center;
      margin-bottom: 70px;


      .box-1 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-3.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 50px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }

        }

      }

      .box-2 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-2.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 50px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }
        }
      }

      .box-3 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-3.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 40px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }
        }
      }

      .box-4 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-4.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 50px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }
        }
      }

      .box-5 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-5.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 50px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }
        }
      }

      .box-6 {
        max-width: 100%;
        width: 370px;
        background-image: url('../assets/img/box-5-6.png');
        background-position: center;

        .box-5__cards__blockHover {
          background-image: url('../assets/img/box-5hover.png');
          width: 230px;
          height: 200px;
          display: none;
          position: absolute;
          margin: 210px 40px;

          .cards__2__1__p {
            margin-top: 30px;
            font-weight: 700;
          }
        }

      }

      .box-1:hover .box-5__cards__blockHover,
      .box-2:hover .box-5__cards__blockHover,
      .box-3:hover .box-5__cards__blockHover,
      .box-4:hover .box-5__cards__blockHover,
      .box-5:hover .box-5__cards__blockHover,
      .box-6:hover .box-5__cards__blockHover {
        display: block;
        cursor: pointer;

      }

    }



  }

  .container__box-6 {
    min-height: 920px;
    background-color: #f9fbfb;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;


    .container__box-6__h4 {
      font-size: 38px;
      font-weight: 700;
      color: #323333;
      padding-top: 120px;
      margin-bottom: 20px;
      text-transform: uppercase;
      border-top: 122px;
      justify-self: center;
    }

    .container__box-6__p {
      color: #9b9d9d;
      text-transform: uppercase;
      margin-bottom: 155px;
      justify-self: center;
    }

    // Only two cards
    .container__box-6__cards {
      display: grid;
      grid-template-columns: minmax(min-content, 370px) minmax(min-content, 630px);
      grid-template-rows: 1fr;
      grid-column-gap: 90px;
      justify-self: center;

      .container__box-6__cards__1 {
        text-align: center;

        .container__box-6__cards__1__tochki {
          width: 26px;
          height: 23px;
          background-color: grey;
          border-radius: 20px;
          display: inline-block;
        }

        .container__box-6__cards__1__tochki:hover {
          background-color: #71f6eb;
        }
      }

      .container__box-6__cards__2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr minmax(min-content, 365px);
        grid-row-gap: 70px;




        .container__box-6__cards__2__1 {
          background-color: #eaebed;
          max-width: 505px;
          min-height: 365px;
          text-align: center;
          padding-left: 80px;
          padding-right: 80px;

          .container__box-6__cards__2__1__p {
            font-family: sans-serif;
            font-weight: 500;
            font-size: 20px;
            padding-top: 103px;
            padding-bottom: 33px;

            span {
              font-family: sans-serif;
              font-style: italic;
              font-weight: 200;
              font-size: 15px;
              color: #787878;

            }
          }

          .container__box-6__cards__2__1__paragraph {
            font-family: sans-serif;
            font-size: 16px;
            color: #787878;
            padding-bottom: 40px;

          }
        }

        .container__box-6__cards__2__2 {
          justify-self: end;

          a {
            text-decoration: none;
            padding: 23px;
            background-color: #fff;
            color: black;
            font-weight: 600;
            margin-right: 20px;
            box-shadow: 3px 3px 5px;
          }

          a:hover {
            background-color: #71f6eb;
          }
        }
      }
    }
  }

  .container__box-7 {
    background-image: url('../assets/img/box-7.png');
    background-position: center;
    max-width: 100%;
    min-height: 170px;
    margin-top: 100px;

  }

  .container__box-8 {
    min-height: 705px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(1, 460px);
    grid-column-gap: 25px;
    margin-top: 120px;
    background-image: url('../assets/img/box-8-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: center;
    justify-content: center;

    .container__box-8__cards1 {
      background-color: #425560;
      opacity: 0.7;
      padding: 20px;
      font-family: sans-serif;
      font-size: 16px;
      color: #fff;

      .container__box-8__cards1__form {
        line-height: 30px;

        p {

          input,
          textarea {
            border: none;
            background-color: #425560;
            border-bottom: 2px solid white;
            font-family: sans-serif;
            font-size: 16px;
            color: #eaebed;
            max-width: 100%;
          }
        }

        button {
          font-family: sans-serif;
          color: black;
          font-weight: 800;
          padding: 10px 20px;
          opacity: 1;
        }

        button:hover {
          background-color: #6eeee4;
        }
      }
    }

    .container__box-8__cards2 {
      background-color: #485862;
      opacity: 0.9;
      padding: 20px;
      font-family: sans-serif;
      font-size: 16px;
      color: #fff;


      .container__box-8__cards2__list {
        list-style-type: none;
        margin-bottom: 25px;
        margin-top: 20px;
      }

      .box-8__cards2__img {
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  .container__box-9 {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    min-height: 250px;
    background-color: #262b2e;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    .container__box-9__socseti {

      img:hover {
        background-color: #6eeee4;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {

    .container__box-1 {
      max-height: 70vh;

      .container__box-1__h3 {
        display: block;

      }
    }

    .container__box-2 {
      max-height: 85vh;
      width: 100%;

      .container__box-2__articles {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: minmax(320px, max-content) 50%;
        justify-items: center;

        .container__box-2__articles__2 {
          padding-top: 20px;
          font-size: 0.8rem;
          text-align: center;

        }
      }
    }

    .container__box-3 {
      font-size: 0.5rem;


      img {
        width: 90vw;
      }
    }

    .container__box-4 {
      display: none;
    }

    //SMALL TEAM
    .container__box-5 {

      .container__box-5__cards {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: minmax(100px, 430px) minmax(100px, 430px) minmax(100px, 430px);
        justify-items: center;

        .box-1,
        .box-2,
        .box-3 {
          display: none;
        }

        .box-4,
        .box-5,
        .box-6 {
          background-position: center;
        }

      }
    }

    .container__box-6 {
      display: none;
    }

    .container__box-7 {
      img {
        height: 30vh;
        width: 90vw;
      }
    }

    .container__box-8 {
      display: grid;
      grid-template-columns: 90%;
      grid-template-rows: 50%;
      background-size: 320%;
      background-position: 0 45px;


      .container__box-8__cards2 {
        display: none;

      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    .container__box-2 {
      .container__box-2__articles {
        display: grid;
        grid-template-columns: 601px;
        grid-template-rows: 1fr 1fr;
        justify-items: center;

        .container__box-2__articles__2 {
          text-align: center;
        }
      }
    }

    .container__box-4 {
      .container__box-4__cards {
        display: grid;
        grid-template-columns: repeat(2, 20vw);
        grid-template-rows: repeat(3, 30%);

        .box-1,
        .box-2,
        .box-3,
        .box-4,
        .box-5,
        .box-6 {
          background-position: center;

          p {
            display: none;
          }
        }
      }
    }

    .container__box-5 {
      .container__box-5__cards {
        display: grid;
        grid-template-columns: repeat(3, 30%);

        .box-1,
        .box-2,
        .box-3,
        .box-4,
        .box-5,
        .box-6 {
          .box-5__cards__blockHover {
            width: 15vw;
            height: 7vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .container__box-6 {


      .container__box-6__cards {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;

        .container__box-6__cards__2 {

          .container__box-6__cards__2__2 {
            margin: 0 auto;
          }
        }
      }
    }

  }
}



@media screen and (min-width: 901px) {
  .container {
    .container__box-3__images {
      display: grid;
      grid-template-columns: repeat(3, 375px);
      grid-template-rows: repeat(2, 370px);
      justify-content: center;

    }

    .container__box-5 {
      .container__box-5__cards {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, 440px);
        grid-gap: 10px;
        justify-content: center;
        margin-bottom: 70px;
      }
    }
  }
}