* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container .container__box-1 {
  background-color: #eff0f2;
  max-height: 808px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}

.container .container__box-1 .container__box-1__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-top: 78px;
  margin-bottom: 205px;
  width: 90%;
  background-color: #eff0f2;
}

.container .container__box-1 .container__box-1__top .container__box-1__top__logo {
  font-family: sans-serif;
  font-weight: bold;
  border: 4px solid black;
  padding: 5px 10px;
  height: 20px;
  width: 70px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.container .container__box-1 .container__box-1__top .container__box-1__top__butmenu {
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
}

.container .container__box-1 .container__box-1__h3 {
  font-family: sans-serif;
  font-size: 45px;
  color: #505050;
  text-align: center;
}

.container .container__box-1 .container__box-1__h3 span {
  background-color: #71f6eb;
}

.container .container__box-1 .container__box-1__button {
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #000000;
  padding: 10px 15px;
  margin-top: 145px;
  border: 2px solid black;
  background-color: #eff0f2;
}

.container .container__box-1 .container__box-1__button:hover {
  background-color: black;
  color: white;
  border: 2px solid #fff;
}

.container .container__box-1 .container__box-1__top__glass {
  -ms-grid-column-align: end;
      justify-self: end;
}

.container .container__box-2 {
  min-height: 980px;
  background-color: #f8fafa;
}

.container .container__box-2 .container__box-2__h4 {
  font-size: 38px;
  font-weight: 700;
  color: #323333;
  padding-top: 130px;
  margin-bottom: 20px;
  text-align: center;
}

.container .container__box-2 .container__box-2__p {
  color: #9b9d9d;
  text-transform: uppercase;
  margin-bottom: 155px;
  text-align: center;
}

.container .container__box-2 .container__box-2__articles {
  color: #9b9d9d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 490px;
      grid-template-columns: 400px 490px;
  grid-column-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container__box-2 .container__box-2__articles .container__box-2__articles__img {
  background-image: url("../assets/img/box-2img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container .container__box-2 .container__box-2__articles .container__box-2__articles__2 .container__box-2__articles__h4 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.container .container__box-2 .container__box-2__articles .container__box-2__articles__2 .container__box-2__articles__p {
  margin-bottom: 45px;
}

.container .container__box-3 {
  text-align: center;
  margin-bottom: 125px;
}

.container .container__box-3 .container__box-3__h4 {
  font-size: 38px;
  font-weight: 700;
  color: #323333;
  margin-top: 130px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container .container__box-3 .container__box-3__p {
  color: #9b9d9d;
  text-transform: uppercase;
  margin-bottom: 155px;
}

.container .container__box-4 {
  width: 100%;
  background-color: #f9fbfb;
}

.container .container__box-4 .container__box-4__h4 {
  font-size: 38px;
  font-weight: 700;
  color: #323333;
  padding-top: 130px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.container .container__box-4 .container__box-4__p {
  color: #9b9d9d;
  text-transform: uppercase;
  margin-bottom: 155px;
  text-align: center;
}

.container .container__box-4 .container__box-4__cards {
  background-color: #f9fbfb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 290px 300px;
      grid-template-columns: 300px 290px 300px;
  -ms-grid-rows: (minmax(375px, 450px))[3];
      grid-template-rows: repeat(3, minmax(375px, 450px));
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.container .container__box-4 .container__box-4__cards h5 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 185px 100px 30px 58px;
  text-transform: uppercase;
}

.container .container__box-4 .container__box-4__cards p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  margin-left: 58px;
}

.container .container__box-4 .container__box-4__cards .More {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-left: 58px;
  margin-top: 30px;
}

.container .container__box-4 .container__box-4__cards .box-1 {
  background-image: url("../assets/img/box_4-4.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.container .container__box-4 .container__box-4__cards .box-2 {
  background-image: url("../assets/img/box_4-2.png");
}

.container .container__box-4 .container__box-4__cards .box-3 {
  background-image: url("../assets/img/box_4-3.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.container .container__box-4 .container__box-4__cards .box-4 {
  background-image: url("../assets/img/box_4-4.png");
}

.container .container__box-4 .container__box-4__cards .box-5 {
  background-image: url("../assets/img/box_4-5.png");
}

.container .container__box-4 .container__box-4__cards .box-6 {
  background-image: url("../assets/img/box_4-6.png");
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.container .container__box-4 .container__box-4__cards .box-1:hover,
.container .container__box-4 .container__box-4__cards .box-2:hover,
.container .container__box-4 .container__box-4__cards .box-3:hover,
.container .container__box-4 .container__box-4__cards .box-4:hover,
.container .container__box-4 .container__box-4__cards .box-5:hover,
.container .container__box-4 .container__box-4__cards .box-6:hover {
  cursor: pointer;
  background-image: url("../assets/img/box_4-1.png");
  background-position: cover;
}

.container .container__box-5 {
  text-align: center;
  max-width: 1145px;
  margin: 0 auto;
  background-color: #fff;
}

.container .container__box-5 .container__box-5__h4 {
  font-size: 38px;
  font-weight: 700;
  color: #323333;
  margin-top: 130px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container .container__box-5 .container__box-5__p {
  color: #9b9d9d;
  text-transform: uppercase;
  margin-bottom: 155px;
}

.container .container__box-5 .container__box-5__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  -ms-grid-rows: (440px)[2];
      grid-template-rows: repeat(2, 440px);
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 70px;
}

.container .container__box-5 .container__box-5__cards .box-1 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-3.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-1 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 50px;
}

.container .container__box-5 .container__box-5__cards .box-1 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-2 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-2.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-2 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 50px;
}

.container .container__box-5 .container__box-5__cards .box-2 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-3 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-3.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-3 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 40px;
}

.container .container__box-5 .container__box-5__cards .box-3 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-4 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-4.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-4 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 50px;
}

.container .container__box-5 .container__box-5__cards .box-4 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-5 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-5.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-5 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 50px;
}

.container .container__box-5 .container__box-5__cards .box-5 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-6 {
  max-width: 100%;
  width: 370px;
  background-image: url("../assets/img/box-5-6.png");
  background-position: center;
}

.container .container__box-5 .container__box-5__cards .box-6 .box-5__cards__blockHover {
  background-image: url("../assets/img/box-5hover.png");
  width: 230px;
  height: 200px;
  display: none;
  position: absolute;
  margin: 210px 40px;
}

.container .container__box-5 .container__box-5__cards .box-6 .box-5__cards__blockHover .cards__2__1__p {
  margin-top: 30px;
  font-weight: 700;
}

.container .container__box-5 .container__box-5__cards .box-1:hover .box-5__cards__blockHover,
.container .container__box-5 .container__box-5__cards .box-2:hover .box-5__cards__blockHover,
.container .container__box-5 .container__box-5__cards .box-3:hover .box-5__cards__blockHover,
.container .container__box-5 .container__box-5__cards .box-4:hover .box-5__cards__blockHover,
.container .container__box-5 .container__box-5__cards .box-5:hover .box-5__cards__blockHover,
.container .container__box-5 .container__box-5__cards .box-6:hover .box-5__cards__blockHover {
  display: block;
  cursor: pointer;
}

.container .container__box-6 {
  min-height: 920px;
  background-color: #f9fbfb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.container .container__box-6 .container__box-6__h4 {
  font-size: 38px;
  font-weight: 700;
  color: #323333;
  padding-top: 120px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-top: 122px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .container__box-6 .container__box-6__p {
  color: #9b9d9d;
  text-transform: uppercase;
  margin-bottom: 155px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .container__box-6 .container__box-6__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 370px) minmax(min-content, 630px);
      grid-template-columns: minmax(-webkit-min-content, 370px) minmax(-webkit-min-content, 630px);
      grid-template-columns: minmax(min-content, 370px) minmax(min-content, 630px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 90px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__1 {
  text-align: center;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__1 .container__box-6__cards__1__tochki {
  width: 26px;
  height: 23px;
  background-color: grey;
  border-radius: 20px;
  display: inline-block;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__1 .container__box-6__cards__1__tochki:hover {
  background-color: #71f6eb;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr minmax(min-content, 365px);
      grid-template-rows: 2fr minmax(-webkit-min-content, 365px);
      grid-template-rows: 2fr minmax(min-content, 365px);
  grid-row-gap: 70px;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__1 {
  background-color: #eaebed;
  max-width: 505px;
  min-height: 365px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__1 .container__box-6__cards__2__1__p {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 103px;
  padding-bottom: 33px;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__1 .container__box-6__cards__2__1__p span {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
  color: #787878;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__1 .container__box-6__cards__2__1__paragraph {
  font-family: sans-serif;
  font-size: 16px;
  color: #787878;
  padding-bottom: 40px;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__2 {
  -ms-grid-column-align: end;
      justify-self: end;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__2 a {
  text-decoration: none;
  padding: 23px;
  background-color: #fff;
  color: black;
  font-weight: 600;
  margin-right: 20px;
  -webkit-box-shadow: 3px 3px 5px;
          box-shadow: 3px 3px 5px;
}

.container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__2 a:hover {
  background-color: #71f6eb;
}

.container .container__box-7 {
  background-image: url("../assets/img/box-7.png");
  background-position: center;
  max-width: 100%;
  min-height: 170px;
  margin-top: 100px;
}

.container .container__box-8 {
  min-height: 705px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -ms-grid-rows: (460px)[1];
      grid-template-rows: repeat(1, 460px);
  grid-column-gap: 25px;
  margin-top: 120px;
  background-image: url("../assets/img/box-8-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container__box-8 .container__box-8__cards1 {
  background-color: #425560;
  opacity: 0.7;
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}

.container .container__box-8 .container__box-8__cards1 .container__box-8__cards1__form {
  line-height: 30px;
}

.container .container__box-8 .container__box-8__cards1 .container__box-8__cards1__form p input,
.container .container__box-8 .container__box-8__cards1 .container__box-8__cards1__form p textarea {
  border: none;
  background-color: #425560;
  border-bottom: 2px solid white;
  font-family: sans-serif;
  font-size: 16px;
  color: #eaebed;
  max-width: 100%;
}

.container .container__box-8 .container__box-8__cards1 .container__box-8__cards1__form button {
  font-family: sans-serif;
  color: black;
  font-weight: 800;
  padding: 10px 20px;
  opacity: 1;
}

.container .container__box-8 .container__box-8__cards1 .container__box-8__cards1__form button:hover {
  background-color: #6eeee4;
}

.container .container__box-8 .container__box-8__cards2 {
  background-color: #485862;
  opacity: 0.9;
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}

.container .container__box-8 .container__box-8__cards2 .container__box-8__cards2__list {
  list-style-type: none;
  margin-bottom: 25px;
  margin-top: 20px;
}

.container .container__box-8 .container__box-8__cards2 .box-8__cards2__img iframe {
  width: 100%;
  height: 100%;
}

.container .container__box-9 {
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  min-height: 250px;
  background-color: #262b2e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__box-9 .container__box-9__socseti img:hover {
  background-color: #6eeee4;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container .container__box-1 {
    max-height: 70vh;
  }
  .container .container__box-1 .container__box-1__h3 {
    display: block;
  }
  .container .container__box-2 {
    max-height: 85vh;
    width: 100%;
  }
  .container .container__box-2 .container__box-2__articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -ms-grid-rows: minmax(320px, max-content) 50%;
        grid-template-rows: minmax(320px, -webkit-max-content) 50%;
        grid-template-rows: minmax(320px, max-content) 50%;
    justify-items: center;
  }
  .container .container__box-2 .container__box-2__articles .container__box-2__articles__2 {
    padding-top: 20px;
    font-size: 0.8rem;
    text-align: center;
  }
  .container .container__box-3 {
    font-size: 0.5rem;
  }
  .container .container__box-3 img {
    width: 90vw;
  }
  .container .container__box-4 {
    display: none;
  }
  .container .container__box-5 .container__box-5__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: minmax(100px, 430px) minmax(100px, 430px) minmax(100px, 430px);
        grid-template-rows: minmax(100px, 430px) minmax(100px, 430px) minmax(100px, 430px);
    justify-items: center;
  }
  .container .container__box-5 .container__box-5__cards .box-1,
  .container .container__box-5 .container__box-5__cards .box-2,
  .container .container__box-5 .container__box-5__cards .box-3 {
    display: none;
  }
  .container .container__box-5 .container__box-5__cards .box-4,
  .container .container__box-5 .container__box-5__cards .box-5,
  .container .container__box-5 .container__box-5__cards .box-6 {
    background-position: center;
  }
  .container .container__box-6 {
    display: none;
  }
  .container .container__box-7 img {
    height: 30vh;
    width: 90vw;
  }
  .container .container__box-8 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: 50%;
        grid-template-rows: 50%;
    background-size: 320%;
    background-position: 0 45px;
  }
  .container .container__box-8 .container__box-8__cards2 {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container .container__box-2 .container__box-2__articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 601px;
        grid-template-columns: 601px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .container .container__box-2 .container__box-2__articles .container__box-2__articles__2 {
    text-align: center;
  }
  .container .container__box-4 .container__box-4__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20vw)[2];
        grid-template-columns: repeat(2, 20vw);
    -ms-grid-rows: (30%)[3];
        grid-template-rows: repeat(3, 30%);
  }
  .container .container__box-4 .container__box-4__cards .box-1,
  .container .container__box-4 .container__box-4__cards .box-2,
  .container .container__box-4 .container__box-4__cards .box-3,
  .container .container__box-4 .container__box-4__cards .box-4,
  .container .container__box-4 .container__box-4__cards .box-5,
  .container .container__box-4 .container__box-4__cards .box-6 {
    background-position: center;
  }
  .container .container__box-4 .container__box-4__cards .box-1 p,
  .container .container__box-4 .container__box-4__cards .box-2 p,
  .container .container__box-4 .container__box-4__cards .box-3 p,
  .container .container__box-4 .container__box-4__cards .box-4 p,
  .container .container__box-4 .container__box-4__cards .box-5 p,
  .container .container__box-4 .container__box-4__cards .box-6 p {
    display: none;
  }
  .container .container__box-5 .container__box-5__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
  }
  .container .container__box-5 .container__box-5__cards .box-1 .box-5__cards__blockHover,
  .container .container__box-5 .container__box-5__cards .box-2 .box-5__cards__blockHover,
  .container .container__box-5 .container__box-5__cards .box-3 .box-5__cards__blockHover,
  .container .container__box-5 .container__box-5__cards .box-4 .box-5__cards__blockHover,
  .container .container__box-5 .container__box-5__cards .box-5 .box-5__cards__blockHover,
  .container .container__box-5 .container__box-5__cards .box-6 .box-5__cards__blockHover {
    width: 15vw;
    height: 7vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container .container__box-6 .container__box-6__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
  .container .container__box-6 .container__box-6__cards .container__box-6__cards__2 .container__box-6__cards__2__2 {
    margin: 0 auto;
  }
}

@media screen and (min-width: 901px) {
  .container .container__box-3__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (375px)[3];
        grid-template-columns: repeat(3, 375px);
    -ms-grid-rows: (370px)[2];
        grid-template-rows: repeat(2, 370px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .container__box-5 .container__box-5__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (440px)[2];
        grid-template-rows: repeat(2, 440px);
    grid-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=main.css.map */